
sourcecode/FileToSQLDbUtility/FileToSQLDbUtility/bin
sourcecode/FileToSQLDbUtility/FileToSQLDbUtility/obj
sourcecode/FileToSQLDbUtility/packages
sourcecode/FileToSQLDbUtility/.vs/FileToSQLDbUtility/v15
doucments/ConsoleApplication1/ConsoleApplication1/obj
doucments/ConsoleApplication1/ConsoleApplication1/bin
