<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  
  <appSettings file="app-table.config">
    <add key="FolderPath" value="D:\WorkShop\Projects\Sysdra\sourcecode\FileToSQLDbUtility\FileFolder" />
    <!--<add key="ServerName" value="localhost" />
    <add key="DbName" value="sysdradb" />
    <add key="UserName" value="root" />
    <add key="Password" value="root" />-->
    
    <add key="ServerName" value="DHARMANDAR-PC" />
    <add key="DbName" value="sysdradb" />
    <add key="UserName" value="" />
    <add key="Password" value="" />
    
    <!--
    0-If you do not want to delete files after processing than set 0
    1- If you want to delete files after processing than set 1    
    -->
    <add key="IsDeleteFileAfterProcessed" value="0"/>
 
    <!--Mysql-1
    MS SQL-2
    Elastic-3-->
    <add key="DbType" value="2" />
    <add key="ErrorFolder" value="D:\WorkShop\Projects\Sysdra\sourcecode\FileToSQLDbUtility\FileToSQLDbUtility\bin\Debug\Error"/>

  </appSettings>

</configuration>